.main {
    background-image: linear-gradient(to top, rgb(11, 11, 11), rgba(18, 16, 14, 0.732));
    min-height: 78vh;

    h1 {
        text-align: center;
        font-family: $fuente-titulo;
        padding: 10px;
    }

    .articulos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .seccion-uno {
            border: solid $azul 3px;
            max-width: 350px;
            background-color: aqua;

        }

        .seccion-dos {
            width: 350px;
            border: solid $azul 3px;
            background-color: darkgoldenrod;
            animation-timing-function: ease-in-out;
            h3{
                animation-name: latido;
                animation-duration: 3s;
                animation-iteration-count: infinite;

            }
        }

        .seccion-tres {
            form{
                display: flex;
                flex-direction: column;
                input{
                    border-radius: 5px;
                    padding: 10px;
                    margin: 10px;
                    transition: .3s ease-in-out;
                    &:focus{
                        background-color: burlywood;
                        transform: scale(2);
                    }

                }

            }
            display: flex;
            flex-direction: column;
            width: 350px;
            border: solid $azul 3px;
            background-color: crimson;


        }
    }
}