// Paleta de colores
$magenta-SC:#C01A7D;
$blanco: #fdfffc;
$turquesa: #41EAD4;
$rojo: #ff0022;
$azul: #011627;

//fuentes
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

$fuente-titulo: "oswald", s


